@page "/"
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject WorkerController Worker
@inject LanguageServices LanguageServices
@inject ILogger<Page> Logger

<PageTitle>Lab • DotNetInternals</PageTitle>

<div class="row align-items-center justify-content-center my-1 w-100">
    @* Input presets (quick-start templates) *@
    <div class="col-auto ms-2 me-auto">
        <select class="form-select" title="Presets" @bind:get="SelectedPreset" @bind:set="OnInputPresetChangedAsync">
            <option value="@InputPreset.CSharp">
                C#
            </option>
            <option value="@InputPreset.Razor">
                Razor
            </option>
            <option value="@InputPreset.Cshtml">
                CSHTML
            </option>
            @if (SelectedPreset == InputPreset.Custom)
            {
                <option value="@InputPreset.Custom">
                    Custom
                </option>
            }
        </select>
    </div>

    @* App name / link *@
    <div class="col-auto">
        <a href="/" class="text-decoration-none">lab.razor.fyi</a>
    </div>

    @* Input tabs (file names) *@
    <div class="col-auto">
        <div class="input-group">
            @if (CurrentInput != null && renamingTo != null)
            {
                @* Renaming confirmation *@
                <input type="text" class="form-control" placeholder="@CurrentInput.FileName" title="File name" @bind="renamingTo" />
                <button type="button" class="btn btn-outline-primary" title="Confirm rename"
                @onclick="RenameInputAsync">
                    @BootstrapIcons.CheckLg
                </button>
                <button type="button" class="btn btn-outline-secondary" title="Cancel rename"
                @onclick="() => renamingTo = null">
                    @BootstrapIcons.XLg
                </button>
            }
            else
            {
                @* Input tabs *@
                <select class="form-select" title="Files" @bind:get="currentInputIndex" @bind:set="OnInputSelectedAsync">
                    @foreach (var (index, input) in inputs.Index())
                    {
                        <option value="@index">
                            @input.FileName
                        </option>
                    }
                    <hr />
                    <option value="@((int)SpecialInput.AddCSharp)">
                        Add .cs
                    </option>
                    <option value="@((int)SpecialInput.AddRazor)">
                        Add .razor
                    </option>
                    <option value="@((int)SpecialInput.AddCshtml)">
                        Add .cshtml
                    </option>
                    @if (inputs.Count > 1)
                    {
                        <hr />
                        <option value="@((int)SpecialInput.RemoveOtherFiles)">
                            Remove other files
                        </option>
                    }
                    <hr />
                    <option value="@((int)SpecialInput.Configuration)">
                        @if (configuration is null)
                        {
                            @:Add configuration
                        }
                        else
                        {
                            @:Configuration
                        }
                    </option>
                </select>

                @* Rename button *@
                @if (CurrentInput != null)
                {
                    <button type="button" class="btn btn-outline-secondary" title="Rename current file"
                    @onclick="() => renamingTo = CurrentInput.FileName">
                        @BootstrapIcons.InputCursorText
                    </button>
                }

                @* Delete button *@
                if (inputs.Count > 1 || CurrentSpecialInput != null)
                {
                    <button type="button" class="btn btn-outline-danger" title="Delete current file"
                    @onclick="DeleteInputAsync">
                        @BootstrapIcons.Trash3
                    </button>
                }
            }
        </div>
    </div>

    @* Compile button *@
    <div class="col-auto">
        <button type="button" class="btn btn-primary" @onclick="CompileAsync" title="Compile (Ctrl+S)">
            Compile
            @if (compilationInProgress)
            {
                <div class="spinner-border spinner-border-sm ms-2" role="status">
                    <span class="visually-hidden">Compiling...</span>
                </div>
            }
        </button>
    </div>

    @* Output tabs *@
    @if (compiled is (_, var compiledOutput))
    {
        <div class="col-auto">
            <div class="input-group">
                @* Output tabs *@
                <select class="form-select" title="Output type" @bind="selectedOutputType" @bind:after="UpdateOutputDisplayAsync">
                    @foreach (var output in CurrentCompiledFile?.Outputs ?? [])
                    {
                        <option value="@output.Type">
                            @output.Type
                        </option>
                    }

                    @if (compiledOutput.GlobalOutputs.Length > 0)
                    {
                        <hr />
                        @foreach (var output in compiledOutput.GlobalOutputs)
                        {
                            <option value="@output.Type">
                                @output.Type
                            </option>
                        }
                    }
                </select>

                @* Error List button *@
                @if (compiledOutput is { NumErrors: > 0 } or { NumWarnings: > 0 })
                {
                    var cls = compiledOutput.NumErrors > 0 ? "btn-danger" : "btn-warning";
                    <button type="button" class="btn @cls"
                    title="Display Error List" @onclick="async () => {
                            selectedOutputType = CompiledAssembly.DiagnosticsOutputType;
                            await UpdateOutputDisplayAsync();
                        }">
                        @(compiledOutput.NumErrors > 0 ? compiledOutput.NumErrors : compiledOutput.NumWarnings)
                    </button>
                }

                @* Design time / runtime toggle *@
                @if (CurrentCompiledFile?.GetOutput(selectedOutputType)?.DesignTimeText is not null)
                {
                    <select class="form-select" title="Generation Strategy" @bind="generationStrategy" @bind:after="UpdateOutputDisplayAsync">
                        <option value="runtime">Runtime</option>
                        <option value="@designTime">Design</option>
                    </select>
                }

                @* Output loading indicator *@
                @if (outputLoading)
                {
                    <span class="input-group-text">
                        <span class="spinner-border spinner-border-sm" role="status" title="Output is loading">
                            <span class="visually-hidden">Output loading...</span>
                        </span>
                    </span>
                }
            </div>
        </div>
    }

    @* Settings button *@
    <div class="col-auto me-auto">
        <CascadingValue IsFixed="true" Value="this">
            <Settings @ref="settings" Editor="inputEditor" @bind-WordWrap="wordWrap" @bind-UseVim="useVim" />
        </CascadingValue>
    </div>

    @* Layout buttons *@
    <div class="col-auto">
        <div class="btn-group">
            @if (layout != Layout.InputOnly)
            {
                <button type="button" class="btn btn-outline-secondary" @onclick="() => layout = Layout.InputOnly"
                title="Display input (left side) only">
                    @BootstrapIcons.LayoutSidebarReverse
                </button>
            }
            @if (layout != Layout.Split)
            {
                <button type="button" class="btn btn-outline-secondary" @onclick="() => layout = Layout.Split"
                title="Display both input and output side-by-side">
                    @BootstrapIcons.LayoutSplit
                </button>
            }
            @if (layout != Layout.OutputOnly)
            {
                <button type="button" class="btn btn-outline-secondary" @onclick="() => layout = Layout.OutputOnly"
                title="Display output (right side) only">
                    @BootstrapIcons.LayoutSidebar
                </button>
            }
        </div>
    </div>
</div>

@* Input / output text areas *@
@{
    var textAreaClass = $"form-control h-100 flex-grow-1 {(wordWrap ? "" : "no-wrap")}";
    var inputStyle = layout == Layout.OutputOnly ? "display: none !important" : "";
    var outputStyle = layout == Layout.InputOnly ? "display: none !important" : "";
}
<div class="row g-0 flex-grow-1">
    <div class="col d-flex flex-column" style="@inputStyle">
        <div id="vim-status" class="vim-status-bar" hidden="@(!useVim)" />
        <div class="flex-grow-1">
            <BlazorMonaco.Editor.StandaloneCodeEditor @ref="inputEditor" Id="input-editor"
            ConstructionOptions="EditorConstructionOptions" OnDidInit="EditorInitAsync"
            OnDidChangeModel="LanguageServices.OnDidChangeModel"
            OnDidChangeModelContent="LanguageServices.OnDidChangeModelContent" />
        </div>
    </div>
    <div class="col" style="@outputStyle">
        <BlazorMonaco.Editor.StandaloneCodeEditor @ref="outputEditor" Id="output-editor"
        ConstructionOptions="OutputConstructionOptions" />
    </div>
</div>

@code {
    private readonly TaskCompletionSource editorInitialized = new();
    private readonly List<Input> inputs = new();
    private DotNetObjectReference<Page>? dotNetObjectReference;
    private IJSObjectReference? module;
    private Input? configuration;
    private int currentInputIndex;
    private string? renamingTo;
    private StandaloneCodeEditor inputEditor = null!;
    private StandaloneCodeEditor outputEditor = null!;
    private string? selectedOutputType;
    private string? generationStrategy;
    private bool compilationInProgress;
    private bool outputLoading;
    private (CompilationInput Input, CompiledAssembly Output)? compiled;
    private Settings settings = null!;
    private bool wordWrap;
    private bool useVim;
    private Layout layout;
    private const string designTime = "designTime";

    private sealed record Input(string FileName, TextModel Model)
    {
        public string FileName { get; set; } = FileName;
        public string? NewContent { get; set; }
    }

    private enum InputPreset
    {
        Custom,
        CSharp,
        Razor,
        Cshtml,
    }

    private enum SpecialInput
    {
        AddRazor = -1,
        AddCSharp = -2,
        AddCshtml = -3,
        RemoveOtherFiles = -4,
        Configuration = -5,
    }

    private enum Layout
    {
        Split,
        InputOnly,
        OutputOnly,
    }

    private Input? CurrentInput
    {
        get
        {
            if (currentInputIndex < 0 || currentInputIndex >= inputs.Count)
            {
                return null;
            }

            return inputs[currentInputIndex];
        }
    }

    private SpecialInput? CurrentSpecialInput
    {
        get
        {
            var result = (SpecialInput)currentInputIndex;
            return result is SpecialInput.Configuration ? result : null;
        }
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;

        if (module is not null)
        {
            try
            {
                await module.DisposeAsync();
            }
            catch (JSDisconnectedException) { }
        }

        dotNetObjectReference?.Dispose();
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        await LoadStateFromUrlAsync();
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Lab/Page.razor.js");
            dotNetObjectReference = DotNetObjectReference.Create(this);
            await module.InvokeVoidAsync("registerEventListeners", dotNetObjectReference);
        }

        // Select an output type if none is selected.
        if (noOutputTypeSelected())
        {
            selectedOutputType = (CurrentCompiledFile?.Outputs)
                .TryConcat(compiled?.Output.GlobalOutputs)
                .MaxBy(static o => o.Priority)!.Type;
            if (noOutputTypeSelected())
            {
                // Do not call `StateHasChanged` - that would lead to stack overflow.
                Debug.Assert(false, "Unexpected cycle in selecting default output type.");
            }
            else
            {
                StateHasChanged();
                await UpdateOutputDisplayAsync();
            }
        }

        bool noOutputTypeSelected()
        {
            return (CurrentCompiledFile?.Outputs.Length > 0 || compiled?.Output.GlobalOutputs.Length > 0) &&
                (selectedOutputType == null || GetOutput(selectedOutputType) == null);
        }
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new()
        {
            AutomaticLayout = true,
            WordWrap = wordWrap ? "on" : "off",
        };
    }

    private StandaloneEditorConstructionOptions OutputConstructionOptions(StandaloneCodeEditor editor)
    {
        return new()
        {
            AutomaticLayout = true,
            ReadOnly = true,
            WordWrap = wordWrap ? "on" : "off",
            Value = "Empty output (click Compile or press Ctrl+S to refresh)",
            BracketPairColorization = new BracketPairColorizationOptions { Enabled = false },
        };
    }

    private InputPreset SelectedPreset
    {
        get
        {
            return inputs switch
            {
            [{ } input] => input.FileName switch
            {
                var s when matches(s, InitialCode.CSharp) => InputPreset.CSharp,
                var s when matches(s, InitialCode.Cshtml) => InputPreset.Cshtml,
                _ => InputPreset.Custom,
            },
            [{ } input1, { } input2]
                when matches(input1.FileName, InitialCode.Razor) &&
                    matches(input2.FileName, InitialCode.RazorImports) => InputPreset.Razor,
                _ => InputPreset.Custom,
            };

            static bool matches(string fileName, InitialCode initialCode)
            {
                return fileName.EndsWith(initialCode.SuggestedFileExtension, StringComparison.OrdinalIgnoreCase);
            }
        }
    }

    private async Task OnInputPresetChangedAsync(InputPreset preset)
    {
        var initialCode = preset switch
        {
            InputPreset.CSharp => InitialCode.CSharp,
            InputPreset.Razor => InitialCode.Razor,
            InputPreset.Cshtml => InitialCode.Cshtml,
            _ => null,
        };
        if (initialCode != null)
        {
            await SaveStateToUrlAsync();

            inputs.Clear();
            currentInputIndex = 0;
            await AddInputAsync(initialCode);

            if (preset == InputPreset.Razor)
            {
                await AddInputAsync(InitialCode.RazorImports, selectAsCurrent: false);
            }

            await SaveStateToUrlAsync();
        }
    }

    private async Task OnInputSelectedAsync(int selectedInputIndex)
    {
        await SaveStateToUrlAsync();

        switch (selectedInputIndex)
        {
            case (int)SpecialInput.AddCSharp:
                await AddInputAsync(InitialCode.CSharp);
                break;

            case (int)SpecialInput.AddRazor:
                await AddInputAsync(InitialCode.Razor);
                break;

            case (int)SpecialInput.AddCshtml:
                await AddInputAsync(InitialCode.Cshtml);
                break;

            case (int)SpecialInput.RemoveOtherFiles:
                inputs.RemoveAll(i => i != CurrentInput);
                currentInputIndex = 0;
                OnWorkspaceChanged();
                break;

            case (int)SpecialInput.Configuration:
                currentInputIndex = (int)SpecialInput.Configuration;
                configuration ??= new(
                    InitialCode.Configuration.SuggestedFileName,
                    await CreateModelAsync(InitialCode.Configuration.ToInputCode()));
                OnWorkspaceChanged();
                await inputEditor.SetModel(configuration.Model);
                break;

            case var _ when selectedInputIndex >= 0 && selectedInputIndex < inputs.Count:
                await SelectInputAsync(selectedInputIndex);
                break;
        }

        await SaveStateToUrlAsync();
    }

    private async Task SelectInputAsync(int index)
    {
        currentInputIndex = index;
        await inputEditor.SetModel(inputs[index].Model);

        // Display output corresponding to the selected input.
        await UpdateOutputDisplayAsync();
    }

    private async Task RenameInputAsync()
    {
        Debug.Assert(CurrentInput != null && renamingTo != null);

        await SaveStateToUrlAsync();

        if (CurrentInput.FileName != renamingTo)
        {
            var oldLanguage = GetLanguageForFileExtension(Path.GetExtension(CurrentInput.FileName));
            var newLanguage = GetLanguageForFileExtension(Path.GetExtension(renamingTo));

            CurrentInput.FileName = renamingTo;

            if (oldLanguage != newLanguage)
            {
                await BlazorMonaco.Editor.Global.SetModelLanguage(JSRuntime, CurrentInput.Model, newLanguage);
            }

            OnWorkspaceChanged();
        }
        renamingTo = null;

        await SaveStateToUrlAsync();
    }

    private async Task DeleteInputAsync()
    {
        await SaveStateToUrlAsync();

        switch (currentInputIndex)
        {
            case (int)SpecialInput.Configuration:
                configuration = null;
                break;
            default:
                Debug.Assert(CurrentInput != null && inputs.Count > 1);
                inputs.RemoveAt(currentInputIndex);
                break;
        }

        currentInputIndex = 0;
        OnWorkspaceChanged();
        await inputEditor.SetModel(CurrentInput!.Model);

        await SaveStateToUrlAsync();
    }

    private async Task AddInputAsync(InitialCode initialCode, bool selectAsCurrent = true)
    {
        var fileName = FindUniqueName(initialCode);
        var inputCode = initialCode.ToInputCode(fileName);
        var model = await CreateModelAsync(inputCode);
        inputs.Add(new(fileName, model) { NewContent = inputCode.Text });
        if (selectAsCurrent)
        {
            currentInputIndex = inputs.Count - 1;
        }
        OnWorkspaceChanged();
        if (selectAsCurrent)
        {
            await inputEditor.SetModel(model);
        }
    }

    private string FindUniqueName(InitialCode initialCode)
    {
        for (var i = 0; ; i++)
        {
            var suffix = i == 0 ? "" : $"{i}";
            var fileName = initialCode.GetFinalFileName(suffix);
            if (!inputs.Any(i => i.FileName == fileName))
            {
                return fileName;
            }
        }
    }

    [JSInvokable]
    public async Task CompileAndRenderAsync()
    {
        await CompileAsync();
        StateHasChanged();
    }

    private async Task CompileAsync()
    {
        // Complete renaming if in progress.
        if (renamingTo != null)
        {
            await RenameInputAsync();
        }

        compilationInProgress = true;

        await RefreshAsync();

        await editorInitialized.Task;

        var savedState = await SaveStateToUrlAsync();

        // Compile.
        var input = savedState.ToCompilationInput();
        var result = await Worker.CompileAsync(input);
        compiled = (input, result);

        await DisplaySquiggles();

        compilationInProgress = false;

        await UpdateOutputDisplayAsync();
    }

    private async Task DisplaySquiggles()
    {
        foreach (var input in inputs)
        {
            List<MarkerData> markers = compiled?.Output.Diagnostics
                .Where(d => d.FilePath == compiled.Value.Output.BaseDirectory + input.FileName)
                .Select(d => d.ToMarkerData())
                .ToList() ?? [];
            await BlazorMonaco.Editor.Global.SetModelMarkers(JSRuntime, input.Model, "Lab", markers);
        }
    }

    private async Task UpdateOutputDisplayAsync()
    {
        if (compiled is null || selectedOutputType is null)
        {
            await outputEditor.SetModel(await BlazorMonaco.Editor.Global.CreateModel(JSRuntime, value: ""));
            return;
        }

        var output = await LoadOutput(selectedOutputType);
        await outputEditor.SetModel(await BlazorMonaco.Editor.Global.CreateModel(JSRuntime, value: output, language: selectedOutputType == "C#" ? "csharp" : null));
    }

    private (CompiledFileOutput Output, string? File)? GetOutput(string type)
    {
        if (CurrentCompiledFile is { } currentCompiledFile)
        {
            if (currentCompiledFile.GetOutput(type) is { } output)
            {
                return (output, CurrentFileName);
            }
        }

        if (compiled?.Output.GetGlobalOutput(type) is { } globalOutput)
        {
            return (globalOutput, null);
        }

        return null;
    }

    private async Task<string> LoadOutput(string type)
    {
        if (GetOutput(type) is not (var output, var file))
        {
            return "";
        }

        if (output.DesignTimeText is not null && generationStrategy == designTime)
        {
            return output.DesignTimeText;
        }

        if (output.EagerText is { } text)
        {
            return text;
        }

        if (!outputLoading)
        {
            return await loadAsync(compiled!.Value.Input, file: file, outputType: type);
        }

        return "";

        async Task<string> loadAsync(CompilationInput input, string? file, string outputType)
        {
            outputLoading = true;
            await RefreshAsync();

            // The text will be cached and loaded synchronously next.
            var result = await output.GetTextAsync(outputFactory: async () =>
            {
                return await Worker.GetOutputAsync(input, file: file, outputType: outputType);
            });

            outputLoading = false;
            StateHasChanged();
            return result;
        }
    }

    private string CurrentFileName => CurrentInput?.FileName ?? "";

    private CompiledFile? CurrentCompiledFile
    {
        get
        {
            return compiled?.Output.Files.TryGetValue(CurrentFileName, out var file) == true
                ? file
                : null;
        }
    }

    private async Task EditorInitAsync()
    {
        await settings.InitializeAsync();

        await LoadStateFromUrlAsync();

        if (!editorInitialized.TrySetResult())
        {
            Logger.LogErrorAndAssert("Failed to set editor initialized result.");
        }
    }

    private async Task<TextModel> CreateModelAsync(InputCode inputCode)
    {
        return await BlazorMonaco.Editor.Global.CreateModel(
            JSRuntime,
            value: inputCode.Text,
            language: GetLanguageForFileExtension(inputCode.FileExtension));
    }

    private static string? GetLanguageForFileExtension(string extension) => extension switch
    {
        ".razor" or ".cshtml" => "razor",
        ".cs" => "csharp",
        _ => null,
    };

    /// <summary>
    /// Should be called before SetModel of Monaco editor whenever (after) <see cref="inputs"/> change.
    /// </summary>
    private void OnWorkspaceChanged()
    {
        var models = inputs
            .Select(i => new ModelInfo(Uri: i.Model.Uri, FileName: i.FileName) { NewContent = i.NewContent })
            .ToImmutableArray();
        inputs.ForEach(i => { i.NewContent = null; });
        Worker.OnDidChangeWorkspace(models);
    }
}
