@page "/"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<PageTitle>Razor • DotNetInternals</PageTitle>

<div class="row align-items-center justify-content-center my-1 w-100">
    @* App name / link *@
    <div class="col-auto">
        <a href="/" class="text-decoration-none">lab.razor.fyi</a>
        (<a href="https://github.com/jjonescz/DotNetInternals">GitHub</a>)
    </div>

    @* Tab select *@
    <div class="col-auto">
        <div class="input-group">
            @if (currentInput != null && renamingTo != null)
            {
                <input type="text" class="form-control" placeholder="@currentInput" title="File name" @bind="renamingTo" />
                <button type="button" class="btn btn-outline-primary" title="Confirm rename"
                        @onclick="RenameInput">
                    @BootstrapIcons.CheckLg
                </button>
                <button type="button" class="btn btn-outline-secondary" title="Cancel rename"
                        @onclick="() => renamingTo = null">
                    @BootstrapIcons.XLg
                </button>
            }
            else
            {
                <select class="form-select" title="Input file" @bind:get="currentInput" @bind:set="OnInputSelectedAsync">
                    @foreach (var fileName in inputs.Keys)
                    {
                        <option value="@fileName">
                            @fileName
                        </option>
                    }
                    <hr />
                    <option value="@FindUniqueName(RazorCompiler.InitialRazorCode)">
                        Add .razor
                    </option>
                    <option value="@FindUniqueName(RazorCompiler.InitialCSharpCode)">
                        Add .cs
                    </option>
                </select>

                @* Rename button *@
                @if (currentInput != null)
                {
                    <button type="button" class="btn btn-outline-secondary" title="Rename current file"
                            @onclick="() => renamingTo = currentInput">
                        @BootstrapIcons.Pencil
                    </button>
                }
            }
        </div>
    </div>

    @* Compile button *@
    <div class="col-auto">
        <button type="button" class="btn btn-primary" @onclick="CompileAsync">
            Compile
            @if (compilationInProgress)
            {
                <div class="spinner-border spinner-border-sm ms-2" role="status">
                    <span class="visually-hidden">Compiling...</span>
                </div>
            }
        </button>
    </div>

    @* Output switch *@
    <InputRadioGroup @bind-Value="SelectedOutputType">
        <div class="btn-group col-auto" role="group" aria-label="Output type">
            <InputRadio class="btn-check" id="outputSyntax" Value="OutputType.Syntax" />
            <label class="btn btn-outline-primary" for="outputSyntax">
                Syntax
            </label>

            <InputRadio class="btn-check" id="outputIr" Value="OutputType.Ir" />
            <label class="btn btn-outline-primary" for="outputIr">
                IR
            </label>

            <InputRadio class="btn-check" id="outputCSharp" Value="OutputType.CSharp" />
            <label class="btn btn-outline-primary" for="outputCSharp">
                C#
            </label>

            <InputRadio class="btn-check" id="outputDiagnostics" Value="OutputType.Diagnostics" />
            <label class="btn btn-outline-primary" for="outputDiagnostics">
                Diagnostics
                @if (compiled?.NumErrors > 0)
                {
                    <span class="badge bg-danger">@compiled.NumErrors</span>
                }
                else if (compiled?.NumWarnings > 0)
                {
                    <span class="badge bg-warning">@compiled.NumWarnings</span>
                }
            </label>
        </div>
    </InputRadioGroup>

    @* Settings button *@
    <div class="col-auto">
        <Settings @ref="settings" Editor="razorCode" @bind-WordWrap="wordWrap" @bind-UseVim="useVim" />
    </div>
</div>

@* Input / output text areas *@
@{
    var textAreaClass = $"form-control h-100 flex-grow-1 {(wordWrap ? "" : "no-wrap")}";
}
<div class="row g-0 flex-grow-1">
    <div class="col d-flex flex-column">
        <div id="vim-status" class="vim-status-bar" hidden="@(!useVim)" />
        <div class="flex-grow-1">
            <BlazorMonaco.Editor.StandaloneCodeEditor @ref="razorCode" Id="razor-code"
                ConstructionOptions="EditorConstructionOptions" OnDidInit="EditorInitAsync" />
        </div>
    </div>
    <div class="col">
        <textarea @bind="output" class="@textAreaClass" readonly placeholder="Empty output (click Compile to refresh)" spellcheck="false"></textarea>
    </div>
</div>

@code {
    private readonly Dictionary<string, TextModel> inputs = new();
    private string? currentInput = null;
    private string? renamingTo = null;
    private StandaloneCodeEditor razorCode = null!;
    private OutputType _outputType = OutputType.CSharp;
    private bool compilationInProgress;
    private CompiledAssembly? compiled;
    private string output = "";
    private Settings settings = null!;
    private bool wordWrap;
    private bool useVim;

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            WordWrap = wordWrap ? "on" : "off",
        };
    }

    private async Task OnInputSelectedAsync(string? selectedInput)
    {
        if (selectedInput is null)
        {
            currentInput = selectedInput;
        }
        else if (inputs.TryGetValue(selectedInput, out var model))
        {
            currentInput = selectedInput;
            await razorCode.SetModel(model);
        }
        else if (selectedInput.EndsWith(RazorCompiler.InitialRazorCode.SuggestedFileExtension, StringComparison.Ordinal))
        {
            await AddInputAsync(RazorCompiler.InitialRazorCode);
        }
        else if (selectedInput.EndsWith(RazorCompiler.InitialCSharpCode.SuggestedFileExtension, StringComparison.Ordinal))
        {
            await AddInputAsync(RazorCompiler.InitialCSharpCode);
        }

        UpdateOutput();
    }

    private void RenameInput()
    {
        Debug.Assert(currentInput != null && renamingTo != null);
        if (currentInput != renamingTo)
        {
            var model = inputs[currentInput];
            inputs[renamingTo] = model;
            inputs.Remove(currentInput);
            currentInput = renamingTo;
        }
        renamingTo = null;
    }

    private async Task AddInputAsync(InitialCode initialCode)
    {
        var fileName = FindUniqueName(initialCode);
        var inputCode = initialCode.ToInputCode(fileName);
        var model = await CreateModelAsync(inputCode);
        inputs[fileName] = model;
        currentInput = fileName;
        await razorCode.SetModel(model);
    }

    private string FindUniqueName(InitialCode initialCode)
    {
        for (var i = 0; ; i++)
        {
            var suffix = i == 0 ? "" : $"{i}";
            var fileName = initialCode.GetFinalFileName(suffix);
            if (!inputs.ContainsKey(fileName))
            {
                return fileName;
            }
        }
    }

    private OutputType SelectedOutputType
    {
        get => _outputType;
        set
        {
            _outputType = value;
            UpdateOutput();
        }
    }

    private async Task CompileAsync()
    {
        compilationInProgress = true;

        // Get input texts.
        var inputBuilder = ImmutableArray.CreateBuilder<InputCode>(inputs.Count);
        foreach (var (fileName, model) in inputs)
        {
            var text = await model.GetValue(EndOfLinePreference.TextDefined, preserveBOM: true);
            inputBuilder.Add(new() { FileName = fileName, Text = text });
        }
        var inputCodes = inputBuilder.ToImmutable();

        // Save state (input codes) to URL.
        var slug = Compressor.Compress(new SavedState{ Inputs = inputCodes });
        NavigationManager.NavigateTo(NavigationManager.BaseUri + "#" + slug, forceLoad: false);

        await RefreshAsync();

        // Compile.
        compiled = RazorCompiler.Compile(inputCodes);
        UpdateOutput();

        compilationInProgress = false;
    }

    private void UpdateOutput()
    {
        output = SelectedOutputType switch
        {
            _ when compiled is null => "",
            OutputType.Syntax => CurrentCompiledRazorFile?.Syntax ?? "",
            OutputType.Ir => CurrentCompiledRazorFile?.Ir ?? "",
            OutputType.CSharp => CurrentCompiledRazorFile?.CSharp ?? "",
            OutputType.Diagnostics => compiled.Diagnostics,
            _ => throw new InvalidOperationException(),
        };
    }

    private CompiledRazorFile? CurrentCompiledRazorFile
    {
        get
        {
            return compiled?.Files.TryGetValue(currentInput ?? "", out var file) == true
                ? file
                : null;
        }
    }

    private enum OutputType
    {
        Syntax,
        Ir,
        CSharp,
        Diagnostics,
    }

    private async Task EditorInitAsync()
    {
        await settings.InitializeAsync();

        // Load state (input code) from URL.
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var slug = uri.Fragment.TrimStart('#');

        if (string.IsNullOrWhiteSpace(slug))
        {
            await AddInputAsync(RazorCompiler.InitialRazorCode);
        }
        else
        {
            var savedState = Compressor.Uncompress(slug);
            inputs.Clear();
            currentInput = null;
            foreach (var input in savedState.Inputs)
            {
                var model = await CreateModelAsync(input);
                inputs[input.FileName] = model;

                if (currentInput is null)
                {
                    currentInput = input.FileName;
                    await razorCode.SetModel(model);
                }
            }
        }
    }

    private async Task<TextModel> CreateModelAsync(InputCode inputCode)
    {
        return await BlazorMonaco.Editor.Global.CreateModel(
            JSRuntime,
            value: inputCode.Text,
            language: Path.GetExtension(inputCode.FileName) switch
            {
                ".razor" => "razor",
                ".cs" => "csharp",
                _ => null,
            });
    }
}
